* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}

#logo-container {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#furia-logo {
  height: 50px;
  cursor: pointer;
}

#nav-items {
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
  align-items: center;
  width: calc(100% - 100px);
  color: white;
}

.nav-item {
  font-family: "open sans";
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
