.news {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2vw;
}

#news-banner-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vw;
}


#news-banner-title {
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#news-banner-link {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    justify-self: end;
    margin-right: 5px;
    font-size: 1.4vw;
}

#news-banner-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.news-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /*padding-right: 2.5vw;*/
}

.news-image {
    width: 100%;
}

.news-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2.5vw;
    padding-left: 5vw;
    background-color: rgb(233, 233, 233);
}

.news-title {
    font-family: "Roboto", sans-serif;
    font-size: 3.5vw;
}

.news-description {
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    margin: 1vw 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.news-link {
    display: flex;
    align-items: center;
    margin-top: 1vw;
    gap: 5px;
    color: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 1.4vw;
    font-weight: 300;
}

.news-link:hover {
    cursor: pointer;
    text-decoration: underline;
}